<h1>Editing category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>

    <div class="container">

      <div class="page-header">
        <h1>Save name...</h1>
      </div>
    <%= form_tag("/categories/"+@category.id.to_s, method: "delete") do %>


            <div class="input-group">
              <input name="name" type="text" class="form-control" value="my category name">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Save and go!</button>
              </span>
            </div><!-- /input-group -->
    <% end %>

    </div> <!-- /container -->
