
    <div id="view-container" class="container" style='border:black solid 1px;'>
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/">Go Back</a></li>
        </ul>
        <h3 class="text-muted"><%= @title %></h3>
      </div>

        <div id="images-container">
            <%= render("image") %>
        </div>


      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->

<script type="text/javascript">

var category_id = <%= @category.id; %>
var page = 2;
var processing = false;

$(window).scroll(function () { 
   if ($(window).scrollTop() >= $(document).height() - $(window).height() - 300) {
    if (!processing) 
      {
        processing = append_images(category_id, page);
        page++;
        processing = true;
        setTimeout(function() { processing = false}, 1000);
      }
    
      //Add something at the end of the page
   }  
});

</script>
